<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="https://luangeng.gitee.io/cdn/ico/favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <title>Frontend Client</title>
</head>

<body>
<div th:replace="fragment :: header"></div>

<div class="container wrapper">

    <h1>Frontend Client</h1>

    <h2>Msg: <span style="color:red" id="user"></span></h2>

    <div>
        <input type="button" class="btn btn-success" onclick="getServerdata()" value="get server Data"/>
        <input type="button" class="btn btn-success" onclick="checkToken()" value="checkToken"/>
        <input type="button" class="btn btn-success" onclick="getNotes()" value="get notes"/>
    </div>

    <pre id="note"></pre>

</div>

<div th:replace="fragment :: footer"></div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/base64.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>