<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>SSO Client 2</title>
    <base href="/ssoclient2"/>
    <link type="text/css" rel="stylesheet" href="/ssoclient2/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/ssoclient2/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/ssoclient2/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/ssoclient2/index.js"></script>
</head>

<body>
<h1>SSO Client 2</h1>
<div class="container unauthenticated">
    <a href="/ssoclient2/login">Login</a>
</div>
<br>
<div class="container authenticated">
    Logged in as: <span id="user"></span>
</div>
<p>msg:<span id="user2"></span></p>
<br>
<div class="container authenticated">
    <a href="/ssoclient2/logout">Logout</a>
</div>
<script type="text/javascript">

</script>
</body>
</html>