<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Server</title>
</head>

<body>

<div class="container">

    <h1>Oauth2 Server</h1>

    <!--<authz:authorize ifAllGranted="ROLE_USER">-->
    <div class="form-horizontal">
        <form th:action="@{/logout}" method="post">
        <button class="btn btn-primary" type="submit">Logout</button>
        </form>
    </div>

    <h3>Your Photos</h3>

    <p id="photos">
        <script type='text/javascript'>
					$.ajax("photos?format=json")
							.done(
									function(response) {
										data = JSON.parse(response);
										for (var i = 0; i < data.length; i++) {
											var photo = data[i];
											$("#photos")
													.append(
															'<img src="photos/' + photo.id + '" alt="' + photo.name + '">');
										}
									});

        </script>
    </p>
    <!--</authz:authorize>-->

</div>

</body>
</html>
