<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://luangeng.gitee.io/cdn/ico/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<h1>登录中...</h1>
<form method="post" th:action="@{/auth}" id="login_form" name="login_form">
    <input id="login_type" name="login_type" class="form-control" type="hidden"/>
    <input id="login_code" name="login_code" class="form-control" type="hidden"/>
    <input id="login_from" name="login_from" class="form-control" type="hidden"/>
</form>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
//<![CDATA[

    $(function() {
        let params = window.location.search.split("&");
    if(params[0].indexOf('code=')==-1){
        return;
    }
    var tmp_auth_code = params[0].substr(params[0].indexOf("code=")+5);
    if (tmp_auth_code.trim().length<3){
        return;
    }
    $("#login_code").val(tmp_auth_code);
    $("#login_from").val("http://localhost:9000/server/token");
    $("#login_type").val("dingding");
    //document.getElementById('login_form').submit();

});

//  ]]>

</script>
</html>