<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://luangeng.gitee.io/cdn/ico/favicon.ico">
</head>

<body>

<div class="container">

    <h1>Access Denied</h1>
    <h1>没有权限访问该网页</h1>

    <p th:text="${message}"> ( <span th:text="${error.summary}"/> )
    </p>

    <a th:href="@{/}">Go back</a>

</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
