<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<nav class="navbar navbar-default navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">
                <span id="nav-title">统一身份认证平台</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Welcome <span th:text="${session.loginAs}"></span></a></li>
                <li><a th:href="@{/logout}" onclick="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top" th:fragment="header_login">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">统一身份认证平台</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Welcome</a></li>
            </ul>
        </div>
    </div>
</nav>

<footer class="footer" th:fragment="footer">
    <div align="center">
        <img rel="icon" src="https://luangeng.gitee.io/cdn/gif/name.gif"
             onload="
             var title =document.title;
             var nav = document.getElementById('nav-title').innerHTML;
             if (title.length!=0 && nav.length==0)
                document.getElementById('nav-title').innerHTML=document.title;
             if (title.length==0 && nav.length!=0)
             document.title =nav;
">
    </div>
</footer>


