<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Server</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/index.js}"></script>
</head>

<body>

<div>

    <h1>Oauth2 Server</h1>

    <div>
        <a th:href="@{/token}">token</a>
        <a th:href="@{/h2-console}">h2</a>
        <a href="http://localhost:8000/client-note" target="_blank">client-note</a>
        <a href="http://localhost:8001/client-photo" target="_blank">client-photo</a>
    </div>

    <div class="form-horizontal">
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>
    </div>

    <table border="1">
        <tr>
            <td>value</td>
            <td>expiration</td>
            <td>tokenType</td>
            <td>refreshToken expiration</td>
            <td>scope</td>
            <td>additionalInformation</td>
            <td>clientId</td>
            <td>userName</td>
            <td>userRole</td>
            <td>opertion</td>
        </tr>
        <tr class="list-unstyled" th:each="token:${tokens}">
            <td th:text="${token.accessToken.value}"></td>
            <td th:text="${#dates.format(token.accessToken.expiration,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${token.accessToken.tokenType}"></td>
            <td th:text="${#dates.format(token.accessToken.refreshToken.expiration,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${token.accessToken.scope}"></td>
            <td th:text="${token.accessToken.additionalInformation}"></td>
            <td th:text="${token.clientId}"></td>
            <td th:text="${token.userName}"></td>
            <td th:text="${token.userRole}"></td>
            <td><a th:href="|@{/token/}${token.accessToken.value}|">revokeToken</a></td>
        </tr>
    </table>

</div>

</body>
</html>
