<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <title>Server</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>
<div th:replace="fragment :: header"></div>

<div class="container wrapper">

    <h1>控制台</h1>

    <div>
        <a th:href="@{/token}">
            <button class="btn btn-default" type="button">Token</button>
        </a>
        <a th:href="@{/user}">
            <button class="btn btn-primary" type="button">User</button>
        </a>
        <a th:href="@{/h2-console}">
            <button class="btn btn-info" type="button">H2</button>
        </a>

        <a href="http://localhost:8000/client-note" target="_blank">
            <button class="btn btn-warning" type="button">Client Note</button>
        </a>
        <a href="http://localhost:8001/client-photo" target="_blank">
            <button class="btn btn-success" type="button">Client Photo</button>
        </a>
        <a href="http://localhost:8002/client-front" target="_blank">
            <button class="btn btn-danger" type="button">Client Front</button>
        </a>
    </div>

</div>

<div th:replace="fragment :: footer"></div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
