<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="https://luangeng.gitee.io/cdn/ico/favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>
<div th:replace="fragment :: header"></div>

<div class="container wrapper">
    <h2>User</h2>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Add User</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" th:action="@{/user}" method="post">
                <input type="text" class="hidden" name="id">
                <div class="form-group">
                    <label class="col-sm-1 control-label">Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    <label class="col-sm-1 col-md-offset-1 control-label">Code</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="code" placeholder="Code">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Email</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <label class="col-sm-1 col-md-offset-1 control-label">Phone</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="phone" placeholder="Phone">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Code</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Disable</th>
            <th>Expire</th>
            <th>Lock</th>
            <th>Roles</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.code}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phone}"></td>
            <td>
                <span th:class="${user.disable}?'label label-danger':'label label-success'"
                      th:text="${user.disable}?'Yes':'No'"></span>
            </td>
            <td>
                <span th:class="${user.expired}?'label label-danger':'label label-success'"
                      th:text="${user.expired}?'Yes':'No'"></span>
            </td>
            <td>
                <span th:class="${user.locked}?'label label-danger':'label label-success'"
                      th:text="${user.locked}?'Yes':'No'"></span>
            </td>
            <td>
                <div th:each="role:${user.role}">
                    <span th:text="${role.name}"></span>
                </div>
            </td>
            <td>
                <a class="btn btn-danger btn-xs" th:href="|@{/user/d/}${user.id}|">delete</a>
                <a class="btn btn-warning btn-xs" th:href="|del(${user.id})|">edit</a>
            </td>
        </tr>
        <tbody>
    </table>

</div>

<div th:replace="fragment :: footer"></div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>