<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Client</title>

</head>
<body>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Photos</h1>
        <p>
            <a th:href="@{/}"/>Home</a>
        </p>

        <h1>Your Photos</h1>
        <ul class="list-unstyled" th:each="photoId:${photoIds}">
            <li><img th:src="@{|/photos/${photoId}|}"/></li>
    </ul>
    </div>
</main>
</body>
</html>