<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Note</title>
    <link rel="stylesheet" th:href="@{/webjars/materializecss/0.99.0/css/materialize.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/material-design-icons/3.0.1/material-icons.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="row">
    <form class="col s12" th:object="${note}" method="post" th:action="@{/add}">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="content" class="materialize-textarea" data-length="255" th:field="*{content}"
                          maxlength="255" required="required"></textarea>
                <label for="content">输入内容</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light teal lighten-2" type="submit" name="action">Submit
        </button>
    </form>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/materializecss/0.99.0/js/materialize.min.js}"></script>
</body>
</html>