<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>

<div th:replace="fragment :: header"></div>

<div class="container wrapper">

    <h2>Add Note</h2>

    <form th:object="${note}" method="post" th:action="@{/add}">
        <textarea id="content" class="form-control" data-length="255" th:field="*{content}"
                  maxlength="255" required="required" rows="3" placeholder="输入内容"></textarea>
        <div style="margin-top:10px">
            <button class="btn btn-success" type="submit">Add</button>
        </div>
    </form>
</div>

<div th:replace="fragment :: footer"></div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>