<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oauth2 UI Notes</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>

<div th:replace="fragment :: header"></div>

<div class="container wrapper">
    <h1>Note</h1>

    <div style="margin-bottom:10px"><a th:href="@{/add}" class="btn btn-success">Add</a></div>

    <div th:each="note: ${notes}">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${note.date}"></h3>
            </div>
            <div class="panel-body">
                <p th:text="${note.content}"></p>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragment :: footer"></div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>