<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Oauth2 UI Notes</title>
</head>
<body>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light teal lighten-2" href="/client-note/add"><i
            class="material-icons">add</i></a>
</div>

<div th:replace="fragments/header :: header"></div>

<div class="row" th:each="note: ${notes}">
    <div class="col s12 m8 offset-m2 l10 offset-l1">
        <div class="card teal lighten-2">
            <div class="card-content white-text">
                <span class="card-title" th:text="${note.date}"></span>
                <p th:text="${note.content}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>